* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.95);
  padding: 1.5rem 3rem;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navigation__listItem {
  margin-left: 2.25rem;
}
.navigation__listItem a {
  font-size: 1rem;
  text-decoration: none;
  color: #feffff;
  letter-spacing: 0.1rem;
  transition: all 0.15s;
}
.navigation__listItem a:hover {
  color: #2b7a78;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2.5rem auto 5rem;
  padding: 0;
  list-style: none;
  width: 70rem;
  flex-wrap: wrap;
}
.services__listItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  background-color: #2b7a78;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  width: 49%;
  height: 11rem;
  padding: 0 2rem;
}
.services__listItem .heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.services__listItem .line {
  height: 0.1rem;
  width: 5rem;
  margin-top: 0.35rem;
  background-color: #17252a;
}
.services__listItem h3 {
  color: #17252a;
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.services__listItem .list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
.services__listItem .listItem {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}
.services__listItem .listItem span {
  font-size: 1rem;
  font-weight: 400;
  color: #17252a;
}
.services__listItem .listItem:after {
  content: "|";
  color: #17252a;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.services__listItem .listItem:last-child:after {
  content: none;
}
.services__listItem:last-child {
  width: 100%;
}

.reviews__list {
  margin: 3rem auto 3.5rem;
  width: 40rem;
  position: relative;
  padding: 0;
}
.reviews__listItem {
  background-color: #AFD5D3;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  padding: 1.5rem;
  width: 90%;
  position: relative;
}
.reviews__listItem img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.reviews__listItem .info {
  margin-left: 0.75rem;
  width: 87.5%;
  float: right;
}
.reviews__listItem .info h5 {
  color: #17252a;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.reviews__listItem .info p {
  color: #17252a;
  font-size: 0.9rem;
}
.reviews__list .nextButton, .reviews__list .prevButton {
  height: 1.5rem;
}
.reviews__list .nextButton img, .reviews__list .prevButton img {
  height: 100%;
}
.reviews__list .nextButton img:hover, .reviews__list .prevButton img:hover {
  cursor: pointer;
}
.reviews__list .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: -2.5rem;
}
.reviews__list .prevButton {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: -2.5rem;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/tank-town-header-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header__heading {
  margin: 15rem auto 0;
  text-align: center;
}
.header__heading h1 {
  color: #feffff;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
}
.header__heading span {
  color: #feffff;
  font-size: 1.25rem;
  display: block;
  margin-top: 0.25rem;
  letter-spacing: 0.05rem;
}
.header__heading a {
  display: inline-block;
  text-decoration: none;
  color: #feffff;
  background-color: #2b7a78;
  font-size: 1rem;
  padding: 0.65rem 1.25rem;
  border: 0.2rem solid #2b7a78;
  margin-top: 2rem;
  border-radius: 0.1rem;
  font-weight: 500;
  transition: all 0.2s;
}
.header__heading a:hover {
  background-color: transparent;
}

.about {
  background-color: #2b7a78;
  padding: 0.1rem;
}
.about__wrapper {
  width: 90%;
  margin: 5rem auto;
}
.about h2 {
  color: #feffff;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
.about p {
  color: #feffff;
  font-size: 1.1rem;
  line-height: 1.55rem;
  margin-bottom: 1.5rem;
}

.services {
  background-color: #AFD5D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services h2 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 5rem;
  color: #17252a;
}
.services .underline {
  height: 0.15rem;
  width: 7.5rem;
  background-color: #17252a;
  margin: 0.5rem auto;
}

.reviews {
  background-color: #17252a;
  padding: 0.1rem;
}
.reviews h2 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 5rem;
  color: #AFD5D3;
}
.reviews .underline {
  height: 0.15rem;
  width: 7.5rem;
  background-color: #AFD5D3;
  margin: 0.5rem auto;
}

/*# sourceMappingURL=index.css.map */
