.navigation {
    @include displayFlex(row, center, center);
    padding: 2rem 2rem;

    &__list {
        @include displayFlex(row, center, center);
        list-style: none;
    }

    &__listItem {
        margin-left: 2rem;

        a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $main-white;
            letter-spacing: .1rem;
        }
    }
}