.navigation {
    @include displayFlex(row, center, center);
    background-color: rgba(10, 10, 10, .95);
    padding: 1.5rem 3rem;

    &__list {
        @include displayFlex(row, center, center);
        list-style: none;
    }

    &__listItem {
        margin-left: 2.25rem;

        a {
            font-size: 1rem;
            text-decoration: none;
            color: $main-white;
            letter-spacing: .1rem;
            transition: all .15s;

            &:hover {
                color: $main-green;
            }
        }
    }
}