.reviews__list {
    margin: 3rem auto 5rem;
    width: 40rem;
    max-width: 80%;
    padding: 0;

    &Item {
        background-color: $light-green;
        margin-bottom: 1rem;
        border-radius: .2rem;
        padding: 1.75rem 1.5rem;
        width: 90%;

        .info {
            h5 {
                color: $dark-green;
                font-size: 1.25rem;
                font-weight: 500;
                margin-bottom: .25rem;
            }

            p {
                color: $dark-green;
                font-size: .9rem;
            }
        }
    }

    .nextButton, .prevButton {
        height: 1.5rem;

        img {
            height: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .nextButton {
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        right: -2.5rem;
    }

    .prevButton {
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        left: -2.5rem;
    }
}

.slick-track {
    @include displayFlex(row, center, center);
}