.header {
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
                url('../../images/tank-town-header-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

    &__heading {
        margin: 15rem auto 0;
        text-align: center;

        h1 {
            color: $main-white;
            font-size: 3.55rem;
            font-weight: 500;
            line-height: 4rem;
        }

        span {
            color: $main-white;
            font-size: 1.25rem;
            display: block;
            margin-top: .25rem;
            letter-spacing: .05rem;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: $main-white;
            background-color: $main-green;
            font-size: 1.1rem;
            padding: .75rem 1.5rem;
            border: .3rem solid $main-green;
            margin-top: 2rem;
            border-radius: .15rem;
            font-weight: 500;
            transition: all .2s;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

//media queries
@media(max-width: 800px) {
    .header__heading {
        h1 {
            font-size: 2.5rem;
        }

        span {
            font-size: 1rem;
            margin-top: 0;
        }
    }
}